.rectangle-btn {	
    height: 104px;	
    width: 136px;	
    border-radius: 12px !important;	
    background-color: #FFFFFF !important;	
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1) !important;
    border: 0 !important;
    margin: 20px;
    text-align: center;
}

.oval {
    margin-left: calc(50% - 20px);
	height: 40px;
    width: 40px;
    border-radius: 50%;
	background-color: #E62727;
}

.toolbar {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.header-div {
    padding-top: 20px;
    padding-left: 10px;
    height: 18px;
    /* width: 256px; */
    color: #343137;
    font-family: "SF Pro Display";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.39px;
    line-height: 18px;
    height: 35px;
}

.i {
    padding-top: 10px;
	height: 12px;
	width: 120px;
	color: #343137;
	font-family: "SF Pro Display";
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.29px;
	line-height: 12px;
	text-align: center;
}

.delimeter {
    margin: 15px 0px 0px 20px;
	height: 1px;
	width: 351px;
    background-color: #DDDDDD;
}