.i-head {
    padding: 20px 0px 20px 0px;
	height: 23px;
	width: 100%;
	color: #343137;
	font-family: "SF Pro Display";
	font-size: 19px;
	font-weight: 600;
	line-height: 23px;
	text-align: center;
}

.garbage-block {
    margin: 10px 5px 0px 5px;
	width: 156px;
}

.rectangle-selected {
	height: 104px;
	width: 100%;
	border: 2px solid #4A90E2 !important;
	border-radius: 12px !important;
	background-color: #FFFFFF !important;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1) !important;
}

.rectangle {
	height: 104px;
	width: 100%;
	border-radius: 12px !important;
	background-color: #FFFFFF !important;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1) !important;
}

.oval {
	height: 39px;
    width: 39px;
    border-radius: 50%;
	background-color: #4A90E2;
}

.rectangle-small {
    width: 100%;
    margin-top: 15px;
    padding: 15px 20px 15px 20px;
	/* height: 50px; */
	/* width: 155px; */
	border-radius: 12px;
	background-color: #FFFFFF;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1);
    
    display: inline-flex;
}

.rectangle-small-innactive {
    width: 100%;
    margin-top: 15px;
    padding: 15px 20px 15px 20px;
	/* height: 50px;
	width: 155px; */
	border: 2px solid #E6E6E6;
	border-radius: 12px;
	background-color: #FFFFFF;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1);
    
    display: inline-flex;
}

.weight-label {
	height: 18px;
    margin-top: 10px;
	width: 38px;
	color: #343137;
	font-family: "SF Pro Display";
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.39px;
	line-height: 18px;
    /* margin: 15px 20px 15px 20px; */
    /* position: absolute; */
}

.rectangle-small-innactive .weight-label {
    height: 18px;
    margin-top: 10px;
	width: 38px;
	color: #C4C4C4;
	font-family: "SF Pro Display";
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.39px;
	line-height: 18px;
}

.weight-input {
    /* height: 18px; */
	width: calc(100% - 40px);
	color: #343137;
	font-family: "SF Pro Display";
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.39px;
	line-height: 18px;
    margin: 0px 0px 0px 10px;
}

.grabage-label {
	height: 12px;
	width: 76px;
	color: #343137;
	font-family: "SF Pro Display";
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.29px;
	line-height: 12px;
	text-align: center;
}

.title {
    margin: 20px;
	height: 23px;
	width: calc(100% - 20px);
	color: #343137;
	font-family: "SF Pro Display";
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 23px;
}

.rectangle-input {
	height: 114px;
	width: 100%;
    display: grid;
	background-color: #FFFFFF;
}

.rectangle-input input {
    width: 100%;
    padding-left: 20px;
}

.btn-declare {
	height: 42px;
	width: 327px;
	border-radius: 8px;
	background-color: #75CAC7 !important;
}

.my-image {
    height: 25px;
    margin: 7px;
}
